@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-y: scroll;
}

::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-thumb {
  @apply bg-rose-400 transition-all duration-300 rounded-[25px];
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-rose-500;
}

::-webkit-scrollbar-track {
  @apply bg-rose-100 rounded-[25px];
}

::-webkit-scrollbar-corner {
  @apply rounded-[25px];
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

.swiper-wrapper > *:not(:last-child){
  margin-right: 20px !important;
}